body{
	overflow: hidden;
	background-color: #282529;
	margin: 0px;
	padding: 0px;
	font-family: 'Shadows Into Light', cursive;
	color: white;
}

section{
    width: 100%;
    height: 100vh; 
    background-size: cover;
    position: relative;
}

.header{
	margin: 0 2%;
	padding-top: 2%;
}

nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	font-weight: bold;
	border-bottom: solid #1e1720;
}

#logo{
	width: 20%;
	cursor: pointer;
}

nav a{
	box-sizing: inherit;
}

nav ul{
	list-style: none;
	margin-right: 10%;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	padding: 7px 30px;
	color: white;
	border-radius: 3px;
}

a:link{
	text-decoration: none;
}

li a:hover, li a.active{
	background-color: #413a43;
}

.checkbtn{
/*  font-size: 30px;*/
  color: white;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}
#check{
  display: none;
}

.body{
	display: flex;
	height: 72vh;
/*	position: fixed;
	height: 80%;*/
}

#pic{
	width: 20%;
	margin: 1% 10%;
	border-radius: 5px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.text{
	float: right;
	font-size: 22px;
	margin-right: 5%;
	margin-top: 3%;
}

footer{
	height: 10vh;
	display: flex;
	background-color: #1e1720;
	background-size: cover;
	bottom: 0;
	vertical-align: baseline;
}


footer a{
	padding: 20px;
	color: white;
}

.foot{
	margin: 1% 0% 1% 30%;
	padding-top: 10px;
	padding-right: 10%;
	border-right: solid white;
}

span{
	cursor: pointer;
}

.about{
	margin: 2% 5%;
	font-size: 22px;
}

.about a{
	text-decoration: underline;
	color: white;
}

.menu{
	margin: 1% 3%;
	background-color: #1e1720;
	border: solid 1px gray;
	width: 92%;
	height: 5vh;
	padding: 1%;
	font-size: 22px;
}

.projects{
	display: block;
}

.container{
	position: relative;
	display: inline;
}

.links img{
	width: 15%;
	margin: 2% 0 0 5%;
	border: solid 3px white;
	border-radius: 3px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: .5s ease;
}

.container:hover img{
	opacity: 0.3;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: -350%;
  left: 62%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: myFirstFont;
  font-size: 60px;
  padding: 16px 32px;
}

.container:hover .middle{
	opacity: 1;
}

@font-face {
  font-family: myFirstFont;
  src: url(online.ttf);
  font-weight: 300;
}


@media (max-width:858px){
	nav ul {
	    position: fixed;
	    width: 100%;
	    height: 100vh;
	    background: #1e1720;
	    top:13%;
	    left:-100%;
	    text-align: center;
	    transition: all .5s;
	    margin: 0;
	    padding: 0;
	}
	nav ul li{
	    display:block;
	    margin: 50px 0;
	    line-height: 30px;
	}
	nav ul li a{
	    font-size:20px;
	}
	li a:hover, li a.active{
	    background-color: #413a43;
	}
	.body{
		display: inline-block;
	}
	#pic{
		margin-left: 35%;
		width: 30%;
		height: 150px;
	}
	.text{
		font-size: 15px;
		margin-left: 5%;
	}
  	.checkbtn{
		display: block;
	}
	#check:checked ~ ul{
	    left:0%;
	    /* top:80px; */
	    height:100vh;
	    bottom:0;
	}
	.foot{
		margin-left: 10%;
	}

}